@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles  */
.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background-color: rgba(255, 207, 14, 0.1);
}

.display-flex {
    display: flex;
}

.dark-one {
    color: #131313;
}

.dark-two {
    color: #424242;
}

.dark-three {
    color: #727272;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 22px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}

img {
    max-width: 100%;
}

.title-one {
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
}

.title-two {
    font-weight: 600;
    font-size: 1.25rem;
    color: #131313;
}

/* header styles  */

/* navbar styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-links {
    text-decoration: none;
}

.brand {
    font-weight: 700;
    font-size: 2.5rem;
}

/* banner style  */
.banner-content {
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
}

.banner-img {
    width: 100%;
}

/* teams-features */
.teams-features {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 80px;
    margin-bottom: 130px;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#quick-list {
    font-weight: 500;
    font-size: 2.5rem;
}

#of-our {
    font-weight: 800px;
    font-size: 2.5rem;
}

#features {
    font-size: 45px;
    font-weight: 800;
    color: #FF900E;
}

.features-div {
    max-width: 500px;
}

/* features section  */
.features-details-section {
    display: flex;
    gap: 7rem;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.features-details-div {
    max-width: 580px;
}

.features-details-title {
    border-left: 5px solid #FF900E;
    padding: 1.25rem;

}

.feature {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-title {
    margin: 0px 20px 0px 0px;
}

#experience-badge {
    padding: 40px;
    margin-top: -70px;
    margin-left: -70px;
}

#experience-year {
    font-size: 3.5rem;
    font-weight: 700;
}

/* achivment part  */
.achivment-part {
    margin-bottom: 100px;
}

.achivment-description {
    max-width: 500px;
    margin-bottom: 80px;
}
.achivment-description-title{
    margin-bottom: 20px;
}

.achivment-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 90px;
}

.individual-achivment {
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    padding: 40px;
    text-align: center;
}

.individual-achivment-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

/* responsive media query */

/* small device  */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }

    .teams-features {
        flex-direction: column;
        text-align: center;
    }

    .team-img{
        grid-template-columns: repeat(1, 1fr);
    }

    .features-details-section {
        flex-direction: column;

    }
    #experience-badge {
        margin-top: 20px;
        margin-left: 20px;
        text-align: center;
    }
    .achivment-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

/* medium device  */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams-features {
        flex-direction: column;
        text-align: center;
    }
    .features-details-section {
        flex-direction: column;
        text-align: center;
    }
    .achivment-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}