@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles  */
.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background-color: rgba(255, 207, 14, 0.1);
}

.display-flex {
    display: flex;
}

.dark-one {
    color: #131313;
}

.dark-two {
    color: #424242;
}

.dark-three {
    color: #727272;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 22px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}

img {
    max-width: 100%;
}

/* header styles  */

/* navbar styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-links {
    text-decoration: none;
}

.brand {
    font-weight: 700;
    font-size: 2.5rem;
}

/* banner style  */
.banner-content {
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
}

.banner-img {
    width: 100%;
}

/* teams-features */
.teams-features {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 80px;
    margin-bottom: 130px;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#quick-list {
    font-weight: 500;
    font-size: 2.5rem;
}

#of-our {
    font-weight: 800px;
    font-size: 2.5rem;
}

#features {
    font-size: 45px;
    font-weight: 800;
    color: #FF900E;
}


/* responsive media query */

/* small device  */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }

    .teams-features {
        flex-direction: column;
        text-align: center;
    }

    .team-img {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* medium device  */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams-features {
        flex-direction: column;
        text-align: center;
    }
}